<h1>My current bookings:</h1>

<div class="cards">
  <% @bookings.each do |booking| %>
    <% dinner = Dinner.find(booking["dinner_id"]) %>
    <%= render "dinners/dinner_preview_card", dinner: dinner %>
  <% end %>
</div>

<%= link_to "Back to all dinners", dinners_path, class: "btn btn-secondary" %>
