.divide{
  width: 100%;
  display: flex;
  margin: 60px 0 0 0;
  gap: 10%;
  padding: 0px 5px 10px 0 ;
  height: 500px;
}
.img-card{
  flex-basis: 50%;
  height: auto;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}


.divide text{
  padding-left: 10px !important;
  flex-basis: 50%;
  height: auto;
}

.divide h1,p{
  text-align: center;
  padding-left: 10px !important;
}

.banner{
padding-top: 60px;
}

.search-form-control .btn{
  border-radius: 4px;
  border: 1px transparent;
  color: black !important;
  box-shadow: 1px 1px pink;
  margin-left: 5px;
}
