.btn-ghost {
  font-family: cursive;
  font-size: 50px;
  font:bolder;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-align:justify;
  color:whitesmoke

}

.btn-ghost:hover {
  opacity: 1;
  color:green;
}

.btn-salmon {
  background-color: #e96b6b;
  color: #fff;
}

.btn-salmon:hover {
  color: #e96b6b;
  border: 1px solid #e96b6b;
}

.btn-salmon-hollow {
  color: #e96b6b;
  border: 1px solid #e96b6b;
}

.btn-salmon-hollow:hover {
  color: #fff;
  background-color: #e96b6b;
}
