.btn-ghost {
  font-family: cursive;
  font-size: 50px;
  font:bolder;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-align:justify;
  color:whitesmoke

}

.btn-ghost:hover {
  opacity: 1;
  color:green;

}

.btn.btn-info {
 background-color: #e96b6b;
 border: #e96b6b;
 border-radius: 5px 5px 5px 5px;
 color: white;
}

.btn.btn-success {
  background-color: #847e89;
  color: white;
  border: #847e89;
  margin-bottom: 16px;
}

.btn.btn-success:hover {
  background-color: #e96b6b;
}

.btn.btn-secondary {
  background-color: #847e89;
  color: white;
  border: #847e89;
  margin-bottom: 16px;
}

.btn.btn-secondary:hover {
  background-color: #e96b6b;

}
