.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 14px;
  align-items: start;
  width: 100%;
  margin-top: 10px;
}

.card{
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(23, 23, 104);
}
.card img{
  display: block;
  width: 100%;
  height:320px;
  object-fit: cover;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
