path{
  fill: #E96B6B;
}
.mapboxgl-popup-content{
  text-align: center;
  background: #E96B6B !important ;
  color: white;
}
.mapboxgl-popup-content p{
  margin: 0;
}
.mapboxgl-popup-close-button{
  color: white;
  // padding: 2px 2px;
  border: transparent;
}
