.navbar-lewagon {
  justify-content: space-between;
  background: rgb(233, 107, 107);
}

.navbar-lewagon h3 {
  margin-bottom: 0;
}

.navbar-lewagon h3,
.navbar-lewagon .nav-link {
  color: white;
}

.navbar-lewagon .nav-link {
  text-transform: uppercase;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color:rgba(245, 245, 245, 0.512);

}
.nav-link:hover {
  opacity: 1;
  color:green;
}
