.navbar-lewagon {
  background: rgb(21, 7, 79);

}
.nav-link{
  color: white;
  display: flex;
  justify-content: space-between;
}

.nav-link:hover{
  color: rgb(209, 194, 194);
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
