.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  color:  rgb(233, 107, 107);
  background:white;
  transition:zip($lists: absolute)

}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px transparent  rgb(233, 107, 107);
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
.search-form-control .btn:hover {
  opacity: 1;
  color:rgb(46, 32, 112);
  background:white;
  background-color:rgba(0, 0, 255, 0.067);
}


.search-form-control  {
margin: 20px;

}
.search-form-control:hover {

}
#search_query {
background-color: rgba(255, 255, 255, 0.673);
}
