<div class="d-flex justify-content-between mb-3">
  <h1 class="m-0">Currently available Dinners:</h1>
  <div>
    <% if user_signed_in? %>
      <%= link_to "Add your dinner event", new_dinner_path, class: "btn btn-salmon-hollow" %>
    <% end %>
  </div>
</div>

<div class="cards">
  <% @dinners.each do |dinner| %>
    <%= render "dinners/dinner_preview_card", dinner: dinner %>
  <% end %>
</div>
