<h1>Currently available Dinners</h1>

<div class="cards">
  <% @dinners.each do |dinner| %>
    <%= render "dinners/dinner_preview_card", dinner: dinner %>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to "Add your dinner event", new_dinner_path, class: "btn btn-success" %>
<% end %>
