<h1>Details on <%= @dinner.title %></h1>

<h2> Date: <%= @dinner.date %></h2>
<h3> Category: <%= @dinner.category.capitalize %></h3>

<%= link_to "Back to all dinners", dinners_path, class: "btn btn-secondary" %>
